$config: (
  accent1: #07F,
  accent2: #FC0,
  accent3: #72C932,
  body:(
    background: #eee
  ),
  navigation: (
    height: 56px
  ),
  spinner: (
    size: 30px
  ),
	medium: 40rem,
	large: 60rem
);