@mixin listing() {
	listing-result {
		width: 100%;
	}
	.listing {
		position: relative;
		margin: 0.3rem 0.3rem;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.04);
		.information {
			padding: 5px;
			strong {
				display: block;
			}
			.website {
				margin-top:2px;
				font-size: 12px;
			}
		}	
	
		.result-row-2 {
			min-height: 60px;
		}
		.result-row-1 {
			min-height: 61px;
		}
		
		.buttons {
			height: 100%;
			text-align: center;
			.link {
				box-shadow: -1px 0 #eee;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			svg {
				display: block;
				margin: 0 auto 2px auto;
				height: 24px;
				width:24px;
			}
			span {
				font-size: 8px;
			}
			.deal {
				color: #000;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				align-tems: space-around;
				.price {
					font-size:20px;
					margin-bottom: 2px;
				}
				span {
					text-transform: uppercase;
				}	
			}
		}
		
		.row:not(:last-of-type) {
			border-bottom: 1px solid #E7E7E7;
		}
		
		&.loading {
			position:relative;
			min-height: 5rem;
			&:before {
				content: "";
				position:absolute;
				top:0;
				right:0;
				left:0;
				bottom:0;
				background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.7));
				z-index: 5;
			}
			&:after {
				content: "";
				@extend .spinner;
				position:absolute;
				z-index:6;
				left:50%;
				top:50%;
				margin-left: -1 * map-deep-get($config, spinner, size) / 2;
				margin-top: -1 * map-deep-get($config, spinner, size) / 2;
			}
		}
		
		&.result {
			.buttons .link svg {
				margin-bottom: 10px;
			}
		}
	}
	
	.feedback {
		height: 100%;
		
		.feedback-button {
			border-left: 1px solid #eee;
			flex: 1;
			display: flex;
			align-items:center;
			justify-content: center;
			svg {
				height: 20px;
				width: 20px;
			}
			&.selected {
				svg {
					fill: #fff;
				}
				&.like {
					background: #00B00C;	
				}
				&.dislike {
					background: #CD2F2F;
				}
			}
		}
	}
	.rating {
		align-items: center;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60px;
		border-left: 1px solid #eee;
	}
	.successRate {
		font-size: 25px;
	}
	.successRate-caption {
		font-size: 12px;
		// margin-left: 2px;
	}
	.pricing {
		justify-content: center;
		.price {
			padding-left: 10px;
			font-size: 20px;
		}
		.dow {
			padding-left: 10px;
			display: block;
			font-size: 12px;
		}
	}
}