.spinner {
  width: map-deep-get($config, spinner, size);;
  height: map-deep-get($config, spinner, size);
  background-color: map-get($config, accent3);
	align-self: center;
	margin:0 auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.loader {
  text-align: center;
  margin: 4rem 0;
  .spinner {
    margin-bottom: 1rem;
  }
}
@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}