// Sass Files
@import 'mixins';
@import 'config';

// Core
@import 'reset';
@import 'grid';
@import 'loader';
@import 'typography';
@import 'forms';
@import 'alerts';
@import 'ripple';
@import 'utils';

// Components
@import 'navigation';
@import 'listing';
@import 'buttons';
@import 'maps';
@import 'filters';

// Pages
@import 'homescreen';

html {
  height: 100%;
}
body {
  background: map-deep-get($config, body, background);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  &.ios-app header.app-nav {
		padding-top: 1rem;
  }
}

@include typography();
@include forms();
@include alerts();
@include navigation();
@include listing();
@include grid();
@include ripple();
@include utils();
@include buttons();
@include maps();
@include homescreen();
@include filters();